* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --bg-color: #0f0f0f;
  --remove-color: #F75A68;
  --button-color: #065E7C;
  --placeholder-color: #7C7C8A;
  --text-color: #E1E1E6;
  --favorite-color: #ffffff;

  --odd-color: rgba(6, 22, 27, 0.5);
  --even-color: #06181C;
}

body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;

  width: 100%;
}

#app {
  max-width: 1120px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 48px;
  margin: 2rem 0 8.7rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #ffffff;
}


.input-box {
  display: flex;
  gap: .8rem;
}

.input-box input {
  width: 462px;
  height: 38px;
  padding: 1.6rem;

  border: 0;
  border-radius: 5px;
  background: #06181C;
  color: var(--text-color);
}

.input-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  width: 170px;
  border: 0;
  background-color: var(--button-color);
  border-radius: 5px;

  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.input-box button:hover {
  filter: brightness(1.1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th:first-child() {
  border-top-left-radius: 12px;
}

table tr:nth-child(odd) {
  background: var(--odd-color)
}

table tr:nth-child(even) {
  background: var(--even-color)
}

thead {
  background: #092D38;;
}

thead td {
  font-weight: bold;
  color: var(--text-color);
  padding: 1.6rem 4rem;
}

tbody .user{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

tbody td {
  padding: 2.4rem 4rem;
}

tbody img {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}

tbody a {
  text-decoration: none;
  font-weight: normal;
  color: var(--text-color);
  font-size: 2.0rem;
}

tbody p, td {
  font-weight: bold;
  color: #E1E1E6;
  font-size: 2.0rem;
  line-height: 160%;
}

tbody button {
  border: none;
  background-color: transparent;
  color: var(--remove-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 2.0rem;
  line-height: 160%;
}

.table-border {
  border: 2px solid #4A808C;
  border-radius: 1.2rem;
  -webkit-border-radius: 1.2rem;
  -moz-border-radius: 1.2rem;
  overflow: hidden;
}

.clean {
  height: 62.4rem;
}